export ODN_HOME=/u03/app/oracle/SODUAT/admin/ohs_domain

export ADN_HOME=/u03/app/oracle/SODUAT/admin/soa_domain/aserver/soa_domain

export MDN_HOME=/u03/app/oracle/SODUAT/admin/soa_domain/mserver/soa_domain

export FMW_HOME=/u03/app/oracle/SODUAT/product/fmw

export SOA_HOME=/u03/app/oracle/SODUAT/product/fmw/soa

export OHS_HOME=/u03/app/oracle/SODUAT/product/webtier

export WLS_HOME=/u03/app/oracle/SODUAT/product/fmw/wlserver

export JDK_HOME=/u03/app/oracle/SODUAT/product/jdk1.8.0_60

export ANT_HOME=/u03/app/oracle/SODUAT/product/fmw/oracle_common/modules/org.apache.ant_1.9.2

export PATH=$PATH:$JDK_HOME/bin:$ANT_HOME/bin